.withDHistory section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.withdrawAd,
.withDHistory .withdrawCard {
    width: 48%;
    margin: auto;
    color: white;
    height: 200px;
    border-radius: 10px;
    padding: 2%;
}

.withdrawAd {
    background: #10ad5e url('../../../assets/images/withdrawAd.gif');
    background-size: cover;
    background-position: center;
}

.withDHistory .withdrawCard {
    background: rgb(16, 173, 94);
    background: linear-gradient(147deg, rgba(16, 173, 94, 1) 0%, rgba(103, 109, 221, 1) 80%);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

.withDHistory .withdrawCard p {
    color: #6df5b1;
}

.withDHistory .withdrawCard div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.withDHistory .withdrawCard div button {
    font-weight: 600;
    background-color: #6df5b1;
}

.withDHistory .withdrawCard div button:hover {
    border: 1px solid #6df5b1;
    color: #6df5b1;
    background: transparent;
}

.withDHistory .wHistoryHolder {
    margin: 3% auto;
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.withDHistory .withdrawHistory,
.withDHistory .withdrawHistory .withdrawDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.withDHistory .withdrawHistory {
    background-color: white;
    width: 100%;
    border-radius: 8px;
    margin: 1% auto;
    padding: 1% 2%;
}

.withDHistory .withdrawHistory .withdrawDetails {
    width: 50%;
    justify-content: flex-start;
}

.withDHistory .withdrawDetails img {
    margin-right: 5%;
}

.withDHistory .withdrawDetails .wHead {
    width: 100%;
}

.withDHistory .withdrawDetails .wHead h3 {
    color: #10ad5e;
}

.withDHistory .wHead div small {
    font-weight: 600;
}

.withDHistory .wHead div small:nth-child(1){
    margin-right: 5%;
}


@media (max-width: 425px) {
    .withDHistory .headerM h2 {
        font-size: small;
    }

    .withdrawAd {
        display: none;
    }

    .withDHistory .withdrawCard {
        width: 90%;
    }

    .withDHistory .withdrawHistory .withdrawDetails {
        width: 60%;
    }

    .withDHistory .withdrawDetails .wHead h3 {
        font-size: medium;
    }

    .withDHistory .wHead div small {
        font-size: x-small;
    }
}