@media (max-width: 768px) {

    .reqDelivery,
    .fundWallet {
        width: 45%;
        height: 185px;
    }

    .reqDelivery section {
        height: 150px;
    }

    .reqDelivery section img {
        height: 150px;
    }

    .reqDelivery section main .main1 {
        height: 80px;
    }

    .reqDelivery section main .main1 p {
        font-size: xx-small;
    }

    .reqDelivery section main .main1 small {
        font-size: xx-small;
    }

    .reqDelivery section main .main2 {
        padding-bottom: 2%;
    }

    .fundBtn {
        padding: 2%;
    }
}

@media (max-width: 425px) {
    .deliveryFund {
        flex-direction: column;
    }

    .reqDelivery,
    .fundWallet {
        width: 95%;
        margin: 5% 0;
    }

    .fundWallet {
        padding: 2%;
    }
}