
.aboutUI {
    width: 100%;
    text-align: center;
}

.aboutUI img {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 2%;
    margin-bottom: 5%;
}

.aboutUI h2 {
    margin-bottom: 10%;
}

.aboutUI .member {
    margin: 5% 0;
    padding: 2% 1%;
}

.aboutUI .member h3 {
    margin-bottom: 2%;
}